<section id="contact" class="bg-light">
  <div class="container-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-6 text-center px-3">
        <div
          data-aos="fade-right"
          class="row justify-content-center align-items-center mt-md-5"
        >
          <div
            class="cursor col-12 text-md-center text-center mt-5 display-6 fw-bold text-dark"
          >
            Get In Touch With Us
          </div>
          <div
            class="cursor px-4 col-10 text-md-center text-center mt-4 text-secondary"
          >
            We’re conversion rate optimization specialists that get our kicks
            from doubling or tripling your online sales
          </div>
        </div>

        <div
          data-aos="fade-right"
          style="border-radius: 25px;"
          class="col-12 bg-white my-4 shadow-lg"
        >
          <div class="row justify-content-center align-items-center p-4">
            <div class="col-md-6 col-12 mt-4 form-floating">
              <input
                style="border-radius: 25px;"
                type="text"
                name="name"
                id="name"
                class="form-control border-1 pt-4 text-muted"
                placeholder="Enter Name..."
              />
              <label class="p-3 ms-2 text-muted" for="name">Full Name...</label>
            </div>
            <div class="col-md-6 col-12 mt-4 form-floating">
              <input
                style="border-radius: 25px;"
                type="email"
                name="email"
                id="email"
                class="form-control border-1 pt-4 text-muted"
                placeholder="Enter Email..."
              />
              <label class="p-3 ms-2 text-muted" for="email">
                Your Email...
              </label>
            </div>
            <div class="col-12 mt-4 form-floating">
              <input
                style="border-radius: 25px;"
                type="text"
                name="subject"
                id="subject"
                class="form-control border-1 pt-4 text-muted"
                placeholder="Enter Subject..."
              />
              <label class="p-3 ms-2 text-muted" for="subject">
                Subject...
              </label>
            </div>
            <div class="col-12 mt-4 form-floating">
              <textarea
                class="form-control border-1 text-muted"
                id="query"
                style="height: 140px; border-radius: 25px;"
                placeholder="query"
              ></textarea>
              <label class="p-3 ms-2 text-muted" for="query">
                Write Here...
              </label>
            </div>
            <div class="col-12 mt-4 text-center mb-3">
              <button
                type="submit"
                class="grow btn btn-warning rounded-pill text-dark btn-lg fw-bold"
              >
                Send Message
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 text-center mt-5 mt-xl-5">
        <div class="row justify-content-center align-items-center">
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #243b55, #141e30);
            "
            class="cursor grow col-md-5 col-9 text-start p-3 bg-dark"
          >
            <div class="col-12">
              <i class="bi bi-headset fs-1 text-warning"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">24/7 Support</h3>
            </div>
            <div class="col-12 mt-3">
              <p class="text-light">
                Book in your free strategy call, ask us your Q and we’ll give
                our bestest, honestest A.
              </p>
            </div>
          </div>
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #243b55, #141e30);
            "
            class="cursor grow col-md-5 col-9 text-start p-3 bg-dark ms-md-4 mt-5 mt-md-0"
          >
            <div class="col-12">
              <i class="bi bi-people fs-1 text-warning"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">Experienced Team</h3>
            </div>
            <div class="col-12 mt-3">
              <p class="text-light">
                Our team of developers will work as your own virtual remote team
                on white-label.
              </p>
            </div>
          </div>
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #243b55, #141e30);
            "
            class="cursor grow col-md-5 col-9 text-start p-3 mt-5 bg-dark"
          >
            <div class="col-12">
              <i class="bi bi-file-person fs-1 text-warning"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">About US</h3>
            </div>
            <div class="col-12 mt-3 ms-3">
              <li class="text-light">Codeaza Technologies</li>
              <li class="text-light">Remotely Operating</li>
            </div>
          </div>
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #243b55, #141e30);
            "
            class="cursor grow col-md-5 col-9 text-start p-3 mt-5 ms-md-4 mt-5 bg-dark"
          >
            <div class="col-12">
              <i class="bi bi-person-lines-fill fs-1 text-warning"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">Contact Now</h3>
            </div>
            <div class="col-12 mt-3 ms-3">
              <li class="text-light">info@codeaza.com</li>
              <li class="text-light">hello@codeaza.com</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
