<section id="portfolio" class="bg-white">
  <div class="container-lg">
    <div
      data-aos="fade-up"
      class="row justify-content-center align-items-center mt-md-5"
    >
      <div
        class="col-md-5 col-9 text-md-center text-center mt-5 display-6 fw-bold text-dark"
      >
        Explore Case Studies
      </div>
      <div
        class="col-md-8 px-5 col-9 text-md-center text-center mt-4 text-secondary"
      >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        ullam eos quidem molestias delectus necessitatibus!
      </div>
    </div>

    <div class="row my-3 align-item-center justify-content-center g-5">
      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="assets/blog4.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                The Guide To LinkedIn Ads
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Johnathan is our co-founder and has developed search strategies
              for a variety of clients for over 5 years.
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-warning text-dark fw-bold btn-md text-decoration-none"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="assets/blog4.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                The Guide To LinkedIn Ads
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Johnathan is our co-founder and has developed search strategies
              for a variety of clients for over 5 years.
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-warning text-dark fw-bold btn-md text-decoration-none"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="assets/blog4.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                The Guide To LinkedIn Ads
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Johnathan is our co-founder and has developed search strategies
              for a variety of clients for over 5 years.
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-warning text-dark fw-bold btn-md text-decoration-none"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="assets/blog4.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                The Guide To LinkedIn Ads
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Johnathan is our co-founder and has developed search strategies
              for a variety of clients for over 5 years.
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-warning text-dark fw-bold btn-md text-decoration-none"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="assets/blog4.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                The Guide To LinkedIn Ads
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Johnathan is our co-founder and has developed search strategies
              for a variety of clients for over 5 years.
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-warning text-dark fw-bold btn-md text-decoration-none"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="assets/blog4.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                The Guide To LinkedIn Ads
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Johnathan is our co-founder and has developed search strategies
              for a variety of clients for over 5 years.
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-warning text-dark fw-bold btn-md text-decoration-none"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
