<section id="ourmotto" class="bg-light">
  <div class="container-lg">
    <div
      data-aos="fade-up"
      class="row justify-content-center align-items-center"
    >
      <div
        class="cursor col-md-8 col-12 text-md-center text-center mt-5 display-6 fw-bold text-dark"
      >
        Perfect Solution For Your Business
      </div>
      <div
        class="cursor col-md-5 px-5 col-12 text-md-center text-center mt-4 text-dark"
      >
        As our motto, we always provide the best service especially for you and
        your company by growing your company to me better.
      </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
      <div
        data-aos="fade-up"
        style="background: linear-gradient(to bottom, #243b55, #141e30);"
        class="cursor growPerfectSolution col-sm-3 bg-dark col-8 text-center mx-2 my-4"
      >
        <img
          src="assets/grow.png"
          alt="Image"
          class="img-fluid my-1 p-3"
          style="object-fit: contain; width: 200px; height: 200px;"
        />
        <div>
          <h3 class="fw-bold text-light">Grow Your Business</h3>
          <p class="text-light">We always help your company to grow with us.</p>
        </div>
      </div>

      <div
        data-aos="fade-up"
        style="background: linear-gradient(to bottom, #243b55, #141e30);"
        class="cursor growPerfectSolution bg-dark col-sm-3 col-8 text-center mx-2 my-4 ms-md-4"
      >
        <img
          src="assets/scaleup.png"
          alt="Image"
          class="img-fluid my-1 p-3"
          style="object-fit: contain; width: 200px; height: 200px;"
        />
        <div>
          <h3 class="fw-bold text-light">Drive More Scales</h3>
          <p class="text-light">
            Every company that we handle, we always drive more scales.
          </p>
        </div>
      </div>
      <div
        data-aos="fade-up"
        ease-in
        style="background: linear-gradient(to bottom, #243b55, #141e30);"
        class="cursor growPerfectSolution col-sm-3 bg-dark col-8 text-center mx-2 my-4 ms-md-4"
      >
        <img
          src="assets/experts.png"
          alt="Image"
          class="img-fluid my-1 p-3"
          style="object-fit: contain; width: 200px; height: 200px;"
        />
        <div>
          <h3 class="fw-bold text-light">Handled By Experts</h3>
          <p class="text-light">
            You don't need to worry, because we are professionals.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
