<section
  class="pb-0"
  id="reviews"
  style="background: linear-gradient(to bottom, #141e30, #243b55);"
>
  <div class="container-lg">
    <div
      data-aos="fade-up"
      class="row justify-content-center align-items-center d-md-none d-flex"
    >
      <div
        class="cursor col-md-8 col-12 text-md-center text-center mt-5 display-6 fw-bold text-light"
      >
        Our Customers are our Asset
      </div>
      <div
        class="cursor col-md-5 px-5 col-12 text-md-center text-center mt-4 text-light"
      >
        We are the professionals of Codeaza Technologies and we work with all
        our passion and devotion in order to give maximum output.
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-sm-4 pb-3">
      <div data-aos="fade-right" class="col-12 col-md-7 text-center mt-5">
        <div class="row justify-content-center">
          <div class="col-11 col-md-10">
            <div id="reviewbg" class="bg-white">
              <ul
                class="nav nav-tabs nav-fill border-0"
                id="myTab"
                role="tablist"
              >
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="faq_tab_1-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#faq_tab_1"
                    type="button"
                    role="tab"
                    aria-controls="faq_tab_1"
                    aria-selected="true"
                  >
                    <div class="d-flex flex-column lh-lg">
                      <span>
                        <img
                          src="assets/google.png"
                          alt="Image"
                          class="img-fluid"
                          style="
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                          "
                        />
                      </span>
                    </div>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="faq_tab_2-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#faq_tab_2"
                    type="button"
                    role="tab"
                    aria-controls="faq_tab_2"
                    aria-selected="false"
                  >
                    <div class="d-flex flex-column lh-lg">
                      <span>
                        <img
                          src="assets/fiverr.png"
                          alt="Image"
                          class="img-fluid"
                          style="
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                          "
                        />
                      </span>
                    </div>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="faq_tab_3-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#faq_tab_3"
                    type="button"
                    role="tab"
                    aria-controls="faq_tab_3"
                    aria-selected="false"
                  >
                    <div class="d-flex flex-column lh-lg">
                      <span>
                        <img
                          src="assets/upwork.png"
                          alt="Image"
                          class="img-fluid"
                          style="
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                          "
                        />
                      </span>
                    </div>
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade active show"
                  id="faq_tab_1"
                  role="tabpanel"
                  aria-labelledby="faq_tab_1-tab"
                >
                  <div
                    style="max-height: 500px;"
                    class="customScroll container p-3 overflow-auto"
                  >
                    <div class="row justify-content-center my-2">
                      <div class="col-12">
                        <div class="cursor list-group">
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="ol-9 text-center">
                                <div>
                                  <a
                                    href="#viewmore"
                                    class="grow btn btn-sm fw-bold btn-warning text-dark rounded-pill p-3"
                                  >
                                    View More
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="faq_tab_2"
                  role="tabpanel"
                  aria-labelledby="faq_tab_2-tab"
                >
                  <div
                    style="max-height: 500px;"
                    class="customScroll container p-3 overflow-auto"
                  >
                    <div class="row justify-content-center my-2">
                      <div class="col-12">
                        <div class="cursor list-group">
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="ol-9 text-center">
                                <div>
                                  <a
                                    href="#viewmore"
                                    class="grow btn btn-sm fw-bold btn-warning text-dark rounded-pill p-3"
                                  >
                                    View More
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="faq_tab_3"
                  role="tabpanel"
                  aria-labelledby="faq_tab_3-tab"
                >
                  <div
                    style="max-height: 500px;"
                    class="customScroll container p-3 overflow-auto"
                  >
                    <div class="row justify-content-center my-2">
                      <div class="col-12">
                        <div class="cursor list-group">
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="col-lg-2 col-3 text-start">
                                <img
                                  src="assets/avtar-01.jpg"
                                  alt="Image"
                                  class="img-fluid rounded-circle"
                                  height="80px"
                                  width="80px"
                                  style="object-fit: contain;"
                                />
                              </div>
                              <div class="col-lg-10 col-9 text-start">
                                <h6 class="fw-bold">NATHAN FORD</h6>
                                <div>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <i class="bi bi-star-fill text-warning"></i>
                                </div>
                                <div class="mt-1">
                                  <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Dignissimos, voluptatum?
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item border-0">
                            <div
                              class="row justify-content-start align-items-start"
                            >
                              <div class="ol-9 text-center">
                                <div>
                                  <a
                                    href="#viewmore"
                                    class="grow btn btn-sm fw-bold btn-warning text-dark rounded-pill p-3"
                                  >
                                    View More
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-left" class="col-9 col-md-5 text-center">
        <div
          class="row justify-content-center align-items-center d-md-block d-none"
        >
          <div class="cursor text-center mt-5 display-3 fw-bold text-light">
            Client Feedback
          </div>
          <div class="cursor px-5 text-center mt-4 text-light">
            We are the professionals of Codeaza Technologies and we work with
            all our passion and devotion in order to give maximum output.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
