<section id="services" class="bg-white">
  <div class="container-lg">
    <div
      data-aos="fade-up"
      class="row justify-content-center align-items-center mt-md-5"
    >
      <div
        class="col-md-8 col-12 text-md-center text-center mt-5 display-6 fw-bold text-dark"
      >
        Get Things Solved
      </div>
      <div
        class="col-md-5 px-5 col-12 text-md-center text-center mt-4 text-secondary"
      >
        When you are short-staffed and need to strengthen your IT department
        urgently, our dedicated team at
        <b style="color: #fac205;">CODEAZA TECHNOLOGIES</b>
        is ready to help.
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-5">
      <div
        data-aos="fade-up"
        style="border-radius: 25px;"
        class="growServices col-md-6 col-9 col-lg-5 col-xxl-3 text-start bg-white mx-2 my-3 border border-1"
      >
        <div class="text-center">
          <img
            src="assets/seo.svg"
            alt="Image"
            class="img-fluid p-3"
            style="object-fit: contain; width: 350px; height: 200px;"
          />
        </div>

        <h4 class="fw-bold mt-5 px-3 text-dark">Web And CMS Development</h4>
        <p class="text-secondary mt-1 px-3">
          Whether you need a new web app, an e-commerce solution, or a
          back-office system, we’ve got you covered. Improve your business
          processes and increase profits through strategic web software
          development.
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-4">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          HTML/CSS/Bootstrap
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Javascript/Angular/React
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          PHP/Laravel/CAKE
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          WordPress/Shopify
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Fully Managed & Scalable
        </p>
      </div>

      <div
        data-aos="fade-up"
        style="border-radius: 25px;"
        class="growServices col-md-6 col-9 col-lg-5 col-xxl-3 text-start bg-white mx-2 my-3 border border-1 ms-xxl-5 ms-lg-5 ms-2 mt-md-5 mt-lg-3 mt-xxl-3"
      >
        <div class="text-center">
          <img
            src="assets/social.svg"
            alt="Image"
            class="img-fluid p-3"
            style="object-fit: contain; width: 350px; height: 200px;"
          />
        </div>

        <h4 class="fw-bold mt-5 px-3 text-dark">Mobile App Development</h4>
        <p class="text-secondary mt-1 px-3">
          Our mobile app solutions are solving problems and improving lives for
          millions of users across different industries: Finance, Entertainment,
          Education, Mass Media, Construction, IoT and more.
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-4">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Android App
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          iPhone App
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Hybrid App
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Flutter
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          React Native
        </p>
      </div>
      <div
        style="border-radius: 25px;"
        data-aos="fade-up"
        class="growServices col-md-6 col-9 col-lg-5 col-xxl-3 text-start bg-white mx-2 my-3 border border-1 ms-xxl-5 mt-md-5 mt-xxl-3"
      >
        <div class="text-center">
          <img
            src="assets/adwords.svg"
            alt="Image"
            class="img-fluid p-3"
            style="object-fit: contain; width: 350px; height: 200px;"
          />
        </div>

        <h4 class="fw-bold mt-5 px-3 text-dark">Ecommerce Development</h4>
        <p class="text-secondary mt-1 px-3">
          A full-funnel marketing approach allows our team to work across the
          entire customer journey and create solutions for the fundamental needs
          to scale new customer acquisition and retention for e-commerce brands.
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-4">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Magento
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          BigCommerce
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          App Campaign
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Video Advertising
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Mobile Advertising
        </p>
      </div>
      <div
        style="border-radius: 25px;"
        data-aos="fade-up"
        class="growServices col-md-6 col-9 col-lg-5 col-xxl-3 text-start bg-white mx-2 my-3 border border-1 mt-xxl-5 ms-lg-5 ms-xxl-2 mt-md-5"
      >
        <div class="text-center">
          <img
            src="assets/analysis.svg"
            alt="Image"
            class="img-fluid p-3"
            style="object-fit: contain; width: 350px; height: 200px;"
          />
        </div>

        <h4 class="fw-bold mt-5 px-3 text-dark">SEO</h4>
        <p class="text-secondary mt-1 px-3">
          We help drive more traffic, customers, and sales to your business than
          any other Traditional or Digital Marketing Agency.
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-4">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Keyword Research
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          On Page Optimization
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Back Linking
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Google Analytics
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Page Speed
        </p>
      </div>
      <div
        style="border-radius: 25px;"
        data-aos="fade-up"
        class="growServices col-md-6 col-9 col-lg-5 col-xxl-3 text-start bg-white mx-2 my-3 border border-1 ms-2 ms-xxl-5 mt-md-5"
      >
        <div class="text-center">
          <img
            src="assets/experience.svg"
            alt="Image"
            class="img-fluid p-3"
            style="object-fit: contain; width: 350px; height: 200px;"
          />
        </div>

        <h4 class="fw-bold mt-5 px-3 text-dark">Data Analysis</h4>
        <p class="text-secondary mt-1 px-3">
          We help you build a sustainable, competitive advantage through data
          analysis that establishes brand identity and engages consumers.
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-4">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Originality
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Quality
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Business Insights
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Targeted Marketing
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Increase Sales
        </p>
      </div>
      <div
        style="border-radius: 25px;"
        data-aos="fade-up"
        class="growServices col-md-6 col-9 col-lg-5 col-xxl-3 text-start bg-white mx-2 my-3 border border-1 mt-xxl-5 ms-lg-5 mt-md-5"
      >
        <div class="text-center">
          <img
            src="assets/content_marketing.svg"
            alt="Image"
            class="img-fluid p-3"
            style="object-fit: contain; width: 350px; height: 200px;"
          />
        </div>

        <h4 class="fw-bold mt-5 px-3 text-dark">Automation</h4>
        <p class="text-secondary mt-1 px-3">
          Our email, SMS, and automation services nurture leads through the
          funnel, driving customer acquisition and retention.
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-4">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          SMS
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Email
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Digital Compaigns
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          Ads
        </p>
        <p style="font-size: 17px;" class="px-3 text-muted mt-1">
          <i class="bi bi-check-circle-fill fs-6 text-warning me-2"></i>
          SMM
        </p>
      </div>
    </div>
  </div>
</section>

<div
  class="mt-3"
  style="
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  "
>
  <a
    href="https://calendly.com/muhamd/client-meeting"
    target="_blank"
    class="grow btn btn-md fw-bold btn-warning text-dark rounded-pill p-3"
    style="text-align: center;"
  >
    Talk with an Expert Now
    <i class="bi bi bi-person-workspace ms-1"></i>
  </a>
</div>
