<section
  style="background: linear-gradient(to bottom, #243b55, #141e30);"
  id="ourteam"
>
  <div class="container-lg">
    <div
      data-aos="fade-up"
      class="row justify-content-center align-items-center mt-md-5"
    >
      <div
        class="cursor col-md-8 col-12 text-md-center text-center mt-5 display-6 fw-bold text-light"
      >
        Meet Our Team
      </div>
      <div
        class="cursor col-md-5 px-5 col-12 text-md-center text-center mt-4 text-light"
      >
        Our mission is to accelerate global business digitalization and help new
        types of businesses emerge faster.
      </div>
    </div>

    <div class="row my-2 align-item-center justify-content-center g-md-5">
      <div data-aos="fade-right" class="col-9 col-md-5 col-lg-4 col-xxl-3 mt-5">
        <div
          style="border-radius: 25px;"
          class="growOurTeam bg-transparent card"
        >
          <div class="text-center mt-3 px-5">
            <img
              src="assets/asim.png"
              class="rounded rounded-circle img-fluid"
              alt="web optimization"
              style="border: 10px solid #d2d2d1; object-fit: contain;"
            />
          </div>

          <div class="card-body py-4 text-center">
            <h3 class="cursor card-title fw-bold text-light">
              Muhammad Asim
            </h3>
            <p class="cursor card-subtitle lead fw-bold text-warning mt-1">
              Chief Exective Officer
            </p>
            <!-- <p class="card-text mt-4 mt-sm-4 px-md-4 text-light">
                Muhammad is our Founder & CEO, He has got great experience in building great applications & automations.
                He knows how to sell like crazy & build beautiful apps.
              </p> -->
            <div class="row justify-content-center mt-3 align-items-center">
              <div class="col-12 text-center">
                <a
                  style="text-decoration: none;"
                  href="https://www.facebook.com/asimgujja/"
                >
                  <i class="bi bi-meta decorat fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.linkedin.com/in/muhamdasim/"
                >
                  <i class="bi bi-linkedin ms-md-2 ms-sm-2 fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://twitter.com/muhamd_asim"
                >
                  <i
                    class="bi bi-twitter ms-md-2 ms-sm-2 fs-2"
                    style="color: red;"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-5 col-lg-4 col-xxl-3 mt-5">
        <div
          style="border-radius: 25px;"
          class="growOurTeam bg-transparent card"
        >
          <div class="text-center mt-3 px-5">
            <img
              src="assets/haris.png"
              class="rounded rounded-circle img-fluid"
              alt="web optimization"
              style="border: 10px solid #d2d2d1; object-fit: contain;"
            />
          </div>

          <div class="card-body py-4 text-center">
            <h3 class="cursor card-title fw-bold text-light">
              Haris Manzoor
            </h3>
            <p class="cursor card-subtitle lead fw-bold text-warning mt-1">
              Chief Technology Officer
            </p>

            <div class="row justify-content-center mt-3 align-items-center">
              <div class="col-12 text-center">
                <a
                  style="text-decoration: none;"
                  href="https://www.facebook.com/"
                >
                  <i class="bi bi-meta decorat fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.linkedin.com/feed/"
                >
                  <i class="bi bi-linkedin ms-md-2 ms-sm-2 fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.instagram.com/"
                >
                  <i
                    class="bi bi-twitter ms-md-2 ms-sm-2 fs-2"
                    style="color: red;"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-5 col-lg-4 col-xxl-3 mt-5">
        <div
          style="border-radius: 25px;"
          class="growOurTeam bg-transparent card"
        >
          <div class="text-center mt-3 px-5">
            <img
              src="assets/qasim-3.png"
              class="rounded rounded-circle img-fluid"
              alt="web optimization"
              style="border: 10px solid #d2d2d1; object-fit: contain;"
            />
          </div>

          <div class="card-body py-4 text-center">
            <h3 class="cursor card-title fw-bold text-light">
              Muhammad Qasim
            </h3>
            <p class="cursor card-subtitle lead fw-bold text-warning mt-1">
              Chief Information Officer
            </p>

            <div class="row justify-content-center mt-3 align-items-center">
              <div class="col-12 text-center">
                <a
                  style="text-decoration: none;"
                  href="https://www.facebook.com/"
                >
                  <i class="bi bi-meta decorat fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.linkedin.com/feed/"
                >
                  <i class="bi bi-linkedin ms-md-2 ms-sm-2 fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.instagram.com/"
                >
                  <i
                    class="bi bi-twitter ms-md-2 ms-sm-2 fs-2"
                    style="color: red;"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-left" class="col-9 col-md-5 col-lg-4 col-xxl-3 mt-5">
        <div
          style="border-radius: 25px;"
          class="growOurTeam bg-transparent card"
        >
          <div class="text-center mt-3 px-5">
            <img
              src="assets/waqas.png"
              class="rounded rounded-circle img-fluid"
              alt="web optimization"
              style="border: 10px solid #d2d2d1; object-fit: contain;"
            />
          </div>

          <div class="card-body py-4 text-center">
            <h3 class="card-title fw-bold text-light">
              Waqas Ahmed
            </h3>
            <p class="card-subtitle lead fw-bold text-warning mt-1">
              Chief Operating Officer
            </p>

            <div class="row justify-content-center mt-3 align-items-center">
              <div class="col-12 text-center">
                <a
                  style="text-decoration: none;"
                  href="https://www.facebook.com/"
                >
                  <i class="bi bi-meta decorat fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.linkedin.com/feed/"
                >
                  <i class="bi bi-linkedin ms-md-2 ms-sm-2 fs-2"></i>
                </a>
                <a
                  style="text-decoration: none;"
                  href="https://www.instagram.com/"
                >
                  <i
                    class="bi bi-twitter ms-md-2 ms-sm-2 fs-2"
                    style="color: red;"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
